<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code generator</title>
    
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>QR Code generator</h1>

    <div class="container">
      <form action="/scan" method="POST" class="form">
        <textarea
          name="text"
          id="text"
          cols="150"
          rows="10"
          placeholder="Enter URL or Text"
        ></textarea>
  
        <button type="submit" class="btn btn-primary">Generate QR Code</button>
      </form>
    </div>
  </body>
</html>
